<!DOCTYPE html>
<html lang="en">

<head>
    
  <title>
    Cueros XC
    {% block title %}{% endblock %}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Mis estilos css -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand text-center" href="{% url 'landing' %}">
        Cueros XC
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="ned">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="">Blog</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href=" ">Usuarios</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href=" ">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=" ">Acceder</a>
              </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href=" ">Mensajes</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href=" ">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" ">Salir</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  

  <!-- Contenido -->
  {% block content %}
  {% endblock %}
  <!-- Contenido -->

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Develop CrltsMrtnz 2022.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>



